@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
}

/* ==================================== 
   ============ BOTÕES BASE ===========
   ==================================== */
.bttn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    padding: 6px 12px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    transition: 0.1s linear;
    outline: none;
}

/* ============ Estado dos botões ============== */
/*  DEFAULT - WHITE  */
.bttn-default {
    background: #f8f8f8;
    color: #333;
    border-color: #ccc;
}
.bttn-default:hover {
    background: #ECEFF1;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/*  PRIMARY - BLUE  */
.bttn-primary {
    background: #2962FF;
    color: #fff;
    border-color: #2962FF;
}
.bttn-primary:hover {
    background: #1565C0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/*  SAFE - GREEN  */
.bttn-safe {
    background: #4CAF50;
    color: #fff;
    border-color: #4CAF50;
}
.bttn-safe:hover {
    background: #388E3C;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/*  ALERT - YELLOW  */
.bttn-alert {
    background: #FBC02D;
    color: #fff;
    border-color: #FBC02D;
}
.bttn-alert:hover {
    background: #F9A825;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/*  DANGER - RED  */
.bttn-danger {
    background: #F44336;
    color: #fff;
    border-color: #F44336;
}
.bttn-danger:hover {
    background: #D32F2F;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/*  INFO - LIGHTBLUE  */
.bttn-info {
    background: #03A9F4;
    color: #fff;
    border-color: #03A9F4;
}
.bttn-info:hover {
    background: #0288D1;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/*  Link  */
.bttn-link {
    color: #999;
    box-shadow: 0 0 0 transparent;
    text-decoration: none;
}
.bttn-link:hover {
    background: #eee;
    color: #333;
}

/* ============ Botões com borda ============== */
/*  OUTLINE - BLUE  */
.outline-primary {
    background: #fff;
    border-color:#2962FF;
    color: #2962FF;
}
.outline-primary:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/*  OUTLINE - ALERT  */
.outline-alert {
    background: #fff;
    border-color: #FBC02D;
    color: #FBC02D;

}
.outline-alert:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/*  OUTLINE - DANGER  */
.outline-danger {
    background: #fff;
    border-color: #F44336;
    color: #F44336;

}
.outline-danger:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/*  OUTLINE - INFO  */
.outline-info {
    background: #fff;
    border-color: #03A9F4;
    color: #03A9F4;

}
.outline-info:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/* ============ Tamanho dos botões ============== */
.-large {
    padding: 8px 16px;
    font-size: 16px;
}
.-medium {
    padding: 6px 14px;
    font-size: 14px;
}
.-small {
    padding: 4px 12px;
    font-size: 12px;
}
.-xsmall {
    padding: 2px 10px;
    font-size: 11px;
}

/* ============ Formato dos botões ============== */
.-circle {
    border-radius: 50px;
}

/* ============ Botões com largura máxima ============== */
.-fluid {
    display: block;
    width: 100%;
}